<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group main privacy-policy has-lilas-background-color">
    <section class="wp-block-chacha-gutenberg- wp-block-privacy-policy">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 434 150">
                <g id="Groupe_341" data-name="Groupe 341" transform="translate(-355.958 -141.939)">
                    <circle id="Ellipse_91" data-name="Ellipse 91" cx="35" cy="35" r="35"
                        transform="translate(561.958 208.939)" fill="#fc5c38" />
                    <g id="Groupe_295" data-name="Groupe 295" transform="translate(356.221 141.939)">
                        <circle id="Ellipse_92" data-name="Ellipse 92" cx="48.5" cy="48.5" r="48.5"
                            transform="translate(319.737 2)" fill="#682d64" />
                        <ellipse id="Ellipse_93" data-name="Ellipse 93" cx="48" cy="48.5" rx="48" ry="48.5"
                            transform="translate(51.737 53)" fill="#682d64" />
                        <text id="R" transform="translate(-0.263 104)" fill="#fff" font-size="43"
                            font-family="Montserrat-Black, Montserrat" font-weight="800">
                            <tspan x="0" y="0">R</tspan>
                        </text>
                        <text id="e" transform="translate(47.737 128)" fill="#fff" font-size="43"
                            font-family="Montserrat-Black, Montserrat" font-weight="800">
                            <tspan x="0" y="0">E</tspan>
                        </text>
                        <text id="D" transform="translate(100.737 104)" fill="#fff" font-size="43"
                            font-family="Montserrat-Black, Montserrat" font-weight="800">
                            <tspan x="0" y="0">D</tspan>
                        </text>
                        <text id="É" transform="translate(154.737 128)" fill="#fff" font-size="43"
                            font-family="Montserrat-Black, Montserrat" font-weight="800">
                            <tspan x="0" y="0">É</tspan>
                        </text>
                        <text id="c" transform="translate(199.737 102)" fill="#fff" font-size="43"
                            font-family="Montserrat-Black, Montserrat" font-weight="800">
                            <tspan x="0" y="0">C</tspan>
                        </text>
                        <text id="o" transform="translate(245.737 123)" fill="#fff" font-size="43"
                            font-family="Montserrat-Black, Montserrat" font-weight="800">
                            <tspan x="0" y="0">O</tspan>
                        </text>
                        <text id="l" transform="translate(354.737 66)" fill="#fff" font-size="43"
                            font-family="Montserrat-Black, Montserrat" font-weight="800">
                            <tspan x="0" y="0">L</tspan>
                        </text>
                        <text id="l-2" data-name="l" transform="translate(297.737 93)" fill="#fff" font-size="43"
                            font-family="Montserrat-Black, Montserrat" font-weight="800">
                            <tspan x="0" y="0">L</tspan>
                        </text>
                        <text id="e-2" data-name="e" transform="translate(404.737 42)" fill="#fff" font-size="43"
                            font-family="Montserrat-Black, Montserrat" font-weight="800">
                            <tspan x="0" y="0">E</tspan>
                        </text>
                    </g>
                </g>
            </svg>
        </div>
        <div class="container boxed">
            <!--  wp:post-title {"level": 1} /-->
        </div>
    </section>
    <section class="wp-block-chacha-gutenberg-">
        <div class="container boxed">
            <!-- wp:post-content {"layout":{"inherit":true}} /-->
        </div>
    </section>

    <!-- wp:chacha-gutenberg/footer {"sectionId":"68882eae-d5d7-4c78-80ca-d771ddb71163"} -->
    <section
        class="wp-block-chacha-gutenberg-footer block-68882eae-d5d7-4c78-80ca-d771ddb71163 has-fonce-background-color"
        data-attributes="{}">
    </section>
    <!-- /wp:chacha-gutenberg/footer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->