//------------------------------------------------------------------------------
// Container
//------------------------------------------------------------------------------

section[class^="wp-block-chacha-gutenberg-"] {
	padding: 0 36px !important;

	@media all and (max-width: 340px) {
		padding: 0 20px !important;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	flex: 0 0 98%;

	&.boxed {
		max-width: var(--container-width);

		@media all and (max-width: 767px) {
			width: 100%;
			flex: 0 0 100%;
		}
	}
}

body:not(.wp-admin),
.block-editor-block-list__layout {
	* {
		box-sizing: border-box;
	}

	*:not(ul, li, ol, .container) {
		margin: 0;
		padding: 0;
	}

	p+p {
		margin-top: 1em;
	}
}